body{
    padding: 60px 120px 60px 120px;
    background-color:cornsilk;
}

.elem{
    margin-top: 15%;
    text-align: center;
}
.hidden{
    display: none;
}
img{
    height: 300px;
    width: auto;
}